.company_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
}

.company_container h1 {
    font-size: 2.5em;
    padding-bottom: 1.5em;
    
}

.company_container h1 span {
    color: #2E86C1;
    padding: 0 .2em;
    background-color: #222;
}

.company_container p {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    border: 5px solid #222;
    font-style: italic;
    font-size: 1.5em;   
    padding: 1em;
    color: #7b7b7b;
}

.company_container img {
    width: 350px;
    margin-left: 32%;
    padding-top: 0.01%;
}

